@{
    Layout = "_Layout";
}
@section css{

    <link rel="stylesheet" href="~/css/forget_pass.css">
}

<div class="main-content">
    <div class="forgot-card">
        <h1>Forgot Password</h1>
        <p>Enter your email address and we'll send you a link to reset your password.</p>
        <input type="email" class="email-input" placeholder="Enter your email address">
        <button class="send-btn">Send</button>
        <a href="@Url.Action("Sign_In", "Home")" class="back-link">Back to Sign in</a>
    </div>
</div>
