@model CreateNewPasswordViewModel
@{
    Layout = "_Layout";
}

@section css{
    <link rel="stylesheet" href="/css/create_pass.css">
}

<main>
    <div class="password-form">
        <h1>Create New Password</h1>
        <p class="form-description">Your password must be different from previous used passwords.</p>

        <form asp-action="CreateNewPassword" asp-controller="Account" method="post">
            <div class="input-group">
                <input type="password"
                       asp-for="Password"
                       class="form-control"
                       placeholder="Create a new password"
                       id="new-password" />
                <div class="eye-icon">
                    <svg viewBox="0 0 24 24">
                        <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path>
                        <circle cx="12" cy="12" r="3"></circle>
                    </svg>
                </div>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="input-group">
                <input type="password"
                       asp-for="ConfirmPassword"
                       class="form-control"
                       placeholder="Confirm a new password"
                       id="confirm-password" />
                <div class="eye-icon">
                    <svg viewBox="0 0 24 24">
                        <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path>
                        <circle cx="12" cy="12" r="3"></circle>
                    </svg>
                </div>
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>

            <button type="submit" class="reset-btn">Reset Password</button>
            <br />
            <a asp-action="PasswordResetSuccessful" asp-controller="Account" class="back-link">Back</a>
        </form>
    </div>
</main>
